[commit]
	template = ~/.utility/dotfiles/git/commit_message
[core]
	excludesfile = ~/.utility/dotfiles/git/.gitignore_global
[alias]
	nuke = "!git clean -df && git reset --hard HEAD"
[help]
	autocorrect = 10
[pager]
	stash = cat
	branch = cat
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
